:root {
  --black-color: #000000;
  --white-color: #ffffff;
}
html,
header,
body,
div,
nav,
p,
a,
figure,
img,
h1,
button,
main,
section {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  background-color: var(--black-color);
  width: 100%;
  height: 4rem;
  padding: 1.375rem 0 0 4.125rem;
}

.logo img {
  width: 146px;
}
